@{
    Layout = "_Layout";
    //need more here
}

@model HairSalon.Models.Stylist
@using HairSalon.Models

<h2>Stylist Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>

@if (@Model.ClientList.Count == 0){
    <h>This stylist has no Clients</h>
} else {
    <h3>Clients:</h3>
    <ol>
        @foreach (Client aClient in Model.ClientList){
            <li>@Html.ActionLink($"{aClient.Name}", "Details", "Clients", new {id = aClient.ClientId })</li>
        }
    </ol>
}