
@{
    Layout = "_Layout";
}

@using HairSalon.Models;

<h1>Clients</h1>

@if (@Model.Count == 0){
    <h>No clients have been added yet.</h>
} else { 
    <ul>
        @foreach (Client aClient in Model){
                <li>@Html.ActionLink($"{aClient.Name}", "Details", new {id = aClient.ClientId})</li>
        }
    </ul>
}

<br><br>
<p>@Html.ActionLink("Add a client", "Create")</p>
